:root {
    --primary-color: #D6D6D6D6;
    --secondary-color: #B9CAC0;
    --accent1-color: #9DDAFB;
    --accent2-color: #d2eaf1;

    --heading-font: "Roboto", system-ui;
    --paragraph-font: helvetica;
}

body {
    margin: 0 auto;
    max-width: 800rem;
    font-family: "Roboto", serif;
    color: #000;
    background-color: var(--primary-color);  
}

nav {
    text-align: center;
    font-family:var(--paragraph-font);
    background-color: var(--accent2-color);
    padding: 15px;
    text-decoration: none;
    color: #19294f;
}
 
nav a {
    text-decoration: none;
    color: #19294f;
    padding: 50px;
    font-size: 50px;
}

header {
    display: flex;
    grid-template-columns: 1fr 4fr;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
    margin: 1rem auto;
    padding: 25px;
}   

.hero { 
    position: relative;
    align-content: space-around;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 11% ;
    left: 15%;
    font-size: 70px;
    color: #000;
    background-color: var(--primary-color);
    border-radius: 2px;
    border: 1px #355655;
    width: 120rem;
    height: auto;
    text-align: center;
} 

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    height: 119px;
    width: 170px;    
    float: right;
    margin-left: 20px;
}

.hero article {
    height: 150px;
    position: absolute;
    top:66%;
    left: 45%;
    font-family: var(--paragraph-font);
    font-size: 35px;
    transform: translate(-50%);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    width: 64%;
}

h2 {
    text-align: center;
    margin: 10px 10px 5px 5px;
}

footer{
    text-align: center;
    border-top: 1.5px solid #000;
    margin-top: 3rem;
}