nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 20 px;
    display: block;
}

h1 {
    color: steelblue;
} 

 img {
    width: 150 px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    padding: 2px;
}

p {
    padding: 10px;
}


